/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/605743.jpg') no-repeat center center fixed; /* Imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container da tela de login */
.login-container {
    background: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente para melhor contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}
.login-container img {
    width: 250px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-bottom: -50px; /* Espaço entre a imagem e o formulário */
}
.login-container h3 {
    align-items: flex-start;    
}
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background: #c02525;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    
}
.login-container button:hover {
    background: #f5d33d;
}
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Logo da empresa */
.logo {
    width: 150px;
    margin-bottom: 20px;
}


/* Responsividade */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}
